{% extends 'base.html' %}
{% load static%}

{% block content %}
<link rel="stylesheet" href="{% static 'css/kafilat_sign_login.css'%}">


<div class="main.account" >
    <div class="account">
    <h4>Create Account</h4>
    <p class="p" >Register to get access to missing persons</p>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="Full Name">Full Name</label><br>
        <input type="text" name="full_name" id="Full Name" placeholder="Enter your full name"  required><br> <br>
        <label for="Email">Email</label><br>
        <input type="text" name="email" id="Email" placeholder="Enter your email address" required><br> <br>
        <label for="Phone Number">Phone Number</label><br>
        <input type="number" name="phone" id="Phone Number" placeholder="Enter your phone number"><br><br>
        <label for="">Password </label><br>       
        <input type="password" name="password1" id="Password" placeholder="Enter your password" required><br> <br>

        <label for="">Password </label><br>       
        <input type="password" name="password2" id="Password" placeholder="Enter your password" required><br> <br>
        <button class="submit">Create Account</button>
    </form>
    </div>
    <p class="p01">Already have an account ? <a class="a1" href="{% url 'login' %}">sign in</a> </p>
    
</div>

{% if messages %}
{% for message in messages %}
    <div class="text-center alert alert-{{ message.tags }}">
        {{ message|safe }}
    </div>
{% endfor %}
{% endif %}



{% endblock %}