.navbar__{
    background-color: #F2545B;
    color: white;
}

.nav-link{
    color: white !important;
}


.nav-link:hover{
    color: #F2545B !important;
    background-color: white;
    border-radius: 5px;
}