@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink: #F2545B;
    --box-1: #A62930;
    --box-2: #FF737A;
    --box-3: #F2545B;
    --box-4: #19A63D;
    --box-5: #BF5830;
    --box-6: #8C7369;
    --box-7: #67BF30;

    --light-gray: #E4E5E6;
    --white: #FFFFFF;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    display: block;
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    background-color: var(--pink);
    color: var(--white);
    padding: 1.5rem;
}

.nav-icons {
    display: flex;
}

main {
    display: flex;
}

.sidebar-space {
    padding: 0 4.5rem;
}

aside {
    background-color: var(--pink);
    height: 100%;
    padding-top: 2.5rem;
}

aside li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 3rem;
    color: var(--white);
    padding: 0 2rem;
}

.active {
    border-left: 4px solid var(--white);
}

.sidebar-icon {
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.sidebar-icon img {
    width: 25px;
}

.logout {
    border-top: 1px solid var(--white);
    margin-top: 30rem;
    padding-top: 1rem;
}

.main__section {
    margin: 2.5rem;
}

.heading__1,
.heading__2 {
    margin-bottom: 1rem;
}

/* boxes */
.row__1 {
    display: flex;
}

.box {
    color: var(--white);
    border-radius: 4px;
    width: 248px;
    height: 135px;
    margin-right: 2rem;
}

.box p {
    margin: 1rem auto 1rem 1rem;
}

.box h1 {
    margin: 2rem auto 2rem 1rem;
}

.box-1 {
    background-color: var(--box-1);
}

.box-2 {
    background-color: var(--box-2);
}

.box-3 {
    background-color: var(--box-3);
}

.box-4 {
    background-color: var(--box-4);
}

.box-5 {
    background-color: var(--box-5);
}

.box-6 {
    background-color: var(--box-6);
}

.box-7 {
    background-color: var(--box-7);
}

.underline {
    width: 100%;
    height: 2px;
    background-color: var(--white);
}

.boxes {
    margin-bottom: 2rem;
}

.boxes-2 {
    margin-bottom: 4rem;
}

/* Activity Log */
.table {
    background-color: var(--light-gray);
    font-size: 12px;
    font-weight: bolder;
    width: 40vw;
    border-radius: 4px;
}

.tb-row {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
}

.tb-row img {
    width: 40px;
}

.tb-row-header {
    padding: 3rem auto;
    font-size: 20px;
}

.tb-row-footer {
    border: none;
}