

{% extends 'base.html' %}
{% load static%}

{% block content %}

<link rel="stylesheet"  href="{% static 'css/stan.css' %}">
<section>
    <div class="about_us">
      <h1>Privacy Policy</h1>
      <div class="underline">
        <!-- underline goes here -->
      </div>
      <p>We care about the safety and return of missing family members.</p>
    </div>

    <div class="standing_man_container">
      <div class="standing_man_img">
        <img src="{% static 'images/privacy.svg' %}" alt="" />
      </div>
      <div class="standing_man_text">
        <p>
          Missingperson.com.ng will need it's users to register before they
          can upload a missing person on the platform.
        </p>

        <p>
          The major user information needed for registeration are:
          Firstname, lastname, email address, phone number and password. We
          want to assure you that on no account will any of these details be
          shared to any third party.
        </p>
        <p>
          The only detail that will be shared upon the upload of an event by
          our user will be the phone number of the contact person when there
          is a hint or the missing person is found.
        </p>
      </div>
    </div>
  </section>



  {% endblock %}