{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div>

        <h1>Dashboard</h1>

        <div style="border: 2px solid red;">
            <h1> Total</h1>
            <h2>{{nice.REALMISSING}}</h2>
        </div>

        <div style="border: 2px solid blue;">
            <h1> Active Report</h1>
            <h2>{{nice.Active}}</h2>
        </div>

        <div style="border: 2px solid yellow;">
            <h1> Pending</h1>
            <h2>{{nice.Pending}}</h2>
        </div>

        <div style="border: 2px solid grey;">
            <h1> Found</h1>
            <h2>{{nice.Found}}</h2>
        </div>
    </div>







    
<div>
    


   <h1>  Complaints & Emergency Request</h1>

   
   <div style="border: 2px solid grey;">
    <h1>  Total Complaints </h1>
    <h2>{{nice.ComplaintsModel}}</h2>
</div>

<div style="border: 2px solid grey;">
    <h1>  Total Emergency </h1>
    <h2></h2>
</div>


<div style="border: 2px solid grey;">
    <h1>  Total Enquiries </h1>
    <h2>{{nice.EnquiriesModel}}</h2>
</div>

</div>


<div>
    <h1>
        Activity Log
    </h1>

    <div> </div>


    {% for i in nice.real %}

    <h1>{{i}}</h1>

    {% endfor %}
</div>
</body>
</html>