<nav class="navbar navbar-expand-lg navbar-light navbar__">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'core:home' %}">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    How it works
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{%url 'core:Contact' %} ">Contact Us</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{ url 'Blog:all_blogs' %}">Blog</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Store</a></li>
                </ul>
              </li>




          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Activites
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Missing Person</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{ url 'createmissing' %}">Report an Event</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Found People</a></li> 

              {% if user.is_authenticated %}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'core:AdminDashboard' %}">dashboard</a> </li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{ url 'account_update' %}">Update Profile</a>  </li>  
              {% endif %}
            </ul>
          </li>
        </ul>


        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 newguy">





            <!-- <li class="nav-item">
                <a class="nav-link">welcome {{request.user}}</a>
            </li> -->





            
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a> 
            </li>

            {%else%}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link btn" href="{% url 'SignupView' %}">Create Account</a>
                <!-- <button class="btn btn-outline-success">Search</button> -->
            </li>
            {% endif %}

          </ul>


      </div>
    </div>
  </nav>

